.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.center {
  text-align: center;
  
}
.container h1{
  color: blue;
}